
* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: seashell;
  }
html,
body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-style: normal;
   
} 
.header {
    display: flex;
    background-color: black;
    position: fixed;
    align-items: center;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    overflow-y: auto;
    width: 100%; 
    margin: 0 auto;
    z-index: 999;
    justify-content: space-between;
  }


#logo {
    font-weight: 400;
    height: 50px;
    letter-spacing: 2px;
    word-spacing: 4px;
    position: relative;
    left: 10px;
}
ul {
    margin: 0px;
    padding: 0px;
    position: relative;

}
li {
    display: inline;
    margin: 20px;
}
li>a {
    text-decoration: underline;
    font-weight: 400;
    color: seashell;
    letter-spacing: 2px;
    word-spacing: 5px;
    transition: color 0.3s;
}
li a:hover {
    cursor: pointer;
    color: #e48789;
  }
  
  li a:active {
    text-decoration: underline;
  }

  .bannersection {
    background-color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 700px;
    width: 100%;
    top: 69px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.banner {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index: 500;
  }
.banner-text {
    color: seashell;
    font-family: Helvetica, sans-serif;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
    word-spacing: 5px;
    background-color: black;
    margin: 0px;
    padding: 0px;    
 }

 
.totmsection {
  background-color: black;
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  height: 700px;
  width: 100%;
  top: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
.totm-text{
  color: seashell;
  font-family: Helvetica, sans-serif;
  width: 1200px;
  text-align: center;
  vertical-align: middle;
  word-spacing: 5px;
  background-color: black;
  margin: auto;
  padding-top: 20px;
  gap: 5px;
}
.cards {
  background-color: black;
  color: seashell;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}
.teas {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
img {
  max-width: 300px;
  max-height: 200px;
  }
.teas h4{
  padding-top: 10px;
  padding-bottom: 15px;
  margin: auto;
  border: auto;
}

.row { 
  display: flex;
  gap: 25px;
}
  
.locationsection {
  background-color: black;
  text-align: center;
  margin: auto;
  height: 500px;
  width: 100%;
  top: 0;
  position: relative;
  align-items: center;
  justify-content: center;
  
}

.locationbanner {
  background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
      z-index: 500;
  height: 500px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px;
  border: 0px;
}

.location-text h2{
  padding-bottom: 15px;
  margin: 0;
  border: 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 0;
}

.boxes {
  width: 330px;
  margin: 20px;
  padding: 0;
  border: 0px;
  display: inline-block;
  background-color: black;
  opacity: 1;
  justify-content: center; 
}

.footersection {
  background-color: black;
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  height: 200px;
  width: 100%;
  top: 0;
  position: relative;
  align-items: center;
  justify-content: center;
}
.copyright {
  background-color: black;
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  padding-left: 20px;
  height: 50px;
  width: 100%;
  top: 0;
  position: relative;
  text-align: left;
  justify-content: center;
}

